/* PC */
@media(min-width:1024px){

}
/* Tablet */
@media((min-width:740px) and (max-width:1023px)){

}
/* mobile */
@media (max-width:740px) {
    #header{
        overflow:hidden;
    }
    #header .search{
        display:none;
    }
    #header .menu{
        position: absolute;
        right:0;
        top:0;
    }
    #header #nav{
        width:100%;
    }
    #header #nav li{
        display: block;
        width:100%;
    }
    #header .subnav li{
        background-color: #000;
        display:block;
    }
    #header .subnav li a{
        color:#fff;
    }
    #header .subnav{
        width:100%;
    }
    #header .menu .menu-button{
    display:block;
    }
    #header #nav li:first-child{
        width: 85%;
    }
    #slider .text{
        display: none;
    }
    .s-col-1{
        width:100%!important;
    }
    .ticket .ticket-container{
        min-width: auto;
    }
}