*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}
.text-white{
    color:white;
}
.mt8{
    margin-top:8px!important;
}
.mt16{
    margin-top:16px!important;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear:both;
    
}
.col{
    padding: 0px 8px;
    float: left;
}
.col-2{
    width:50%;
}
.col-3{
    width:33.33333%;
}
.col-1{
    width:100%;
}
.text-center{
    text-align: center;
}   
#main{

}
#header{
    background-color: black;
    width: 100%;
    height: 46px;
    position: fixed;
    top:0;
    left:0;
    right:0;
    /* display: flex; */
    z-index: 1;

}
#nav{
    display: inline-block;
}
#nav, .subnav{
    list-style-type: none;

}
#nav li{
    position: relative;
    display: inline-block;
}
#nav li a{
    text-decoration: none;
}
#nav li a{
    line-height: 46px;
}
#nav .arrow-down{
    font-size: 14px;
}
#nav >li >a{
    color:white;
    padding:0px 24px;
    line-height: 46px;
    display: block;
    text-transform:uppercase;
}
#nav>li:hover>a{
    color:black;
    background-color: white;
}

#nav .subnav {
    position: absolute;
    display:none;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    min-width: 160px;
}
#nav .subnav li{
    display: block;
    background-color:white;
    
}
#nav .subnav li a{
    display:block;
    padding:0px 16px;
    color:black;
}
#nav .subnav li:hover a{
    background-color: gray;
    color: white;
}
#nav li:hover .subnav{
    display:block;
}
#header .search,#header .menu {
    float:right;
    cursor: pointer;
}
#header .search .search-button,
#header .menu .menu-button {
    color: white;
    font-size: 20px;
    padding: 0px 21px;
    line-height: 46px;
    display: block;
}
#header .menu .menu-button{
    display:none;
}
#header .search:hover .search-button{
    background-color: #f44336;
    color: fff;
}
#header .menu:hover .menu-button{
    background-color: #fff;
    color: #000;
}
#slider{
    background-color: gray;
    margin-top:46px;
    padding-top:50%; /* để cho chiều cao bằng 1/2 chiều rộng */
    /* width:100%; */
background: url("../img/slider1.jpg") top center / cover no-repeat;
    position: relative;
    
}
#slider .text{
    position: absolute;
    bottom: 0;
    color: white;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 48px;
}
#slider .text .title{
    margin-bottom:25px;
    font-weight: 400;
    font-size:25px; 
}
#slider .text .content{
    font-size:15px;
    font-weight: bolder; 
}


#content{

}
#content .content-section{
    padding: 64px 16px; 
    margin-left:auto;
    margin-right: auto;
    max-width: 800px;

}
#content .content-section .content-title,
#content .content-section .content-sub-title{
    text-align: center;
}
#content .content-section .content-title{
    letter-spacing: 4px;
    font-weight:400;
    margin: 10px 0px;
    font-size:45px;
}
#content .content-section .content-sub-title{
    font-size:15px;
    font-style: italic;
    opacity: 0.6;
    color:gray;
    margin: 15px 0px;
}
#content .desc{
    margin-top: 15px;
    font-size:15px;
    text-align: justify;
    line-height: 22.5px;
}
#content .members{
    padding:32px 0px;
}
#content .members .member-img{
    width: 154px;
    border-radius: 4px;
}
#content .members .member-name{
    margin: 15px 0px;
}

#content .tour-section{
    background-color: black;
}
#content .tour-section .ticket-list{
    background-color:white;
    list-style: none;
    color: rgb(117,117,117);
  
}
#content .tour-section .months-available{
    padding: 8px 16px;
    border: 1px solid rgb(224,224,224);
}
#content .tour-section .ticket-list li .sold-out{
   padding: 0px 8px;
   color: white;
   background-color:rgb(244, 67, 54);
}
#content .tour-section .ticket-list li .available{
    border-radius: 50%;
    background-color: black;
    color: white;
    line-height:24px;
    text-align: center;
    float:right;
    width:24px;
    height:24px;
    margin-top:-3px;
}
#content .tour-section .places{
    padding-top:16px;
    padding-bottom: 48px;
}

#content .tour-section .place-img{
    width:100%;
    display: block;
}
#content .tour-section .place-img:hover{
    opacity: 0.6;
    
}
#content .tour-section .place-info{
    padding: 0.15px 16px;
    font-size:15px;
    color:black;
    background-color:white;
}
#content .tour-section .place-name{
    margin: 15px 0px;
    font-weight: bold;
}
#content .tour-section .place-time{
    margin: 15px 0px;
    color: gray;
}
#content .tour-section .place-about{
    margin: 15px 0px;
}
#content .tour-section .place-buy-ticket-btn{
    padding: 8px 16px;
    margin-bottom:16px;
    color:white;
    background-color: black;
    cursor: pointer;
    border: 0px;
}
#content .tour-section .place-buy-ticket-btn:hover{
    background-color: #ccc;
    color: #000;
}
#content .content-section .contact{
    padding:32px 0px;
}
#content .content-section .contact .contact-info{
    min-height:81px;
    /* display:inline-block; */
    margin-bottom: 16px;
    font-size:18px;
    line-height:1.5;
    list-style: none;
}
#content .content-section .contact .contact-input{
    min-height:20px;
    margin-bottom: 16px;
}
#content .content-section .contact .contact-input .input-content{
    /* padding: 8px 8px; */
    width:100%;
    padding: 8px 8px;
    border: 1px solid gray;

}
#content .content-section .contact .contact-input .input-message{
    padding: 8px 8px;
    /* width:calc(100% - 16px); */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    
}
.test{
    display:block;
}
.contact .contact-send-btn{
    background-color: black;
    color: white;
    border: 0px;
    padding: 8px 16px;
    cursor: pointer;
    float:right;
    margin: 16px 0px;
}
.contact .contact-send-btn:hover{
    background-color: #ccc;
    color: #000;    
}
.ticket {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:none;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.5);
}
.ticket .ticket-container{
    min-width:900px;
    max-width: calc(100% - 32px);
    min-height:200px;
    background-color: white;
    position: relative;
    animation: ticketFadeIn ease 0.3s;
}
.ticket .ticket-header{
    font-size:30px;
    padding: 42px 16px;
    background-color: #009688;
    color: white;
    text-align:center;
    font-weight: 400;
    letter-spacing: 4px;
    margin-bottom:12px;
    
}
.ticket .ticket-input{
    display: block;
    width:100%;
    padding: 12px 12px;
    margin-bottom: 24px;
    margin-top: 12px;
    font-size: 15px;
    
}
.ticket .ticket-close-btn{
    position: absolute;
    color: white;
    cursor: pointer;
    z-index: 99;
    right:0;
    padding: 16px 16px;
}
.ticket .ticket-close-btn:hover, .ticket .pay-btn:hover{
    background-color: rgb(204,204,204);
    color: black;
}
.ticket .ticket-body{
    padding: 0px 16px;
    font-size: 15px;
}
.ticket .ticket-footer{
    float:right;
    margin-top: 15px;
    margin-bottom: 30px; 
    padding: 0px 16px;
}
.ticket .pay-btn{
    font-size:15px;
    padding: 16px;
    background-color:#009688;
    color: white;
    width:100%;
    text-align: center;
    margin: 16px 0px;
    border: 0px;
}
.ticket.open{
    display:flex;
}
.map{
    width: 100%;
}
.map .map-img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    text-align: center;
    background-color: #f1f1f1;
    color: gray;
}
#footer .social{
    font-size: 24px;
}
.social .social-item{
    text-decoration: none;;
}
.social .social-item:hover{
    opacity: 0.6;
}
#footer .copyright{
    font-size: 15px;
    margin: 15px 0px;
    line-height: 1.5;
}
#footer a{
    font-size: 15px;
    margin: 15px 0px;
    line-height: 1.5;
    color: gray;
}
/* animation */
@keyframes ticketFadeIn{
    from{
        opacity: 0;
        transform: translateY(-200px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes ticketFadeOut{
    from{
        opacity:1;
        transform: translateY(0px);
    }
    to{
        opacity:0;
        transform: translateY(-200px);
    }
}
.ticket-container.fadeout{
    animation: ticketFadeOut ease 0.3s;
}
.clear{
    clear: both;
}